/*
  Comment
*/
@import url("https://use.typekit.net/bvp3ktt.css");
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  overflow: hidden;
}

.container {

}

.layout {
  width: 110vw;
  transform: translate(-65px,2vw);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "century-gothic";
  font-style: normal;
  font-weight: 500;
}

img {
  width: 100%;
}

